body{
    background-color: lavender;
}
h1{
    font-size: 30px;
    color: rgb(37, 35, 142);
}
h2{
    font-size: 20px;
    color: hotpink;
}

.big{
    font-size: 60px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: orange;
}
h1 span{
    color: lawngreen;
}